# FastApi
fastapi
pydantic
uvicorn
uvicorn-worker
uvicorn[standard]
gunicorn
jinja2

# Security
pyjwt
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Database
sqlalchemy
sqlalchemy[asyncio]
asyncpg
alembic

# Other
python-dotenv
weasyprint

#Formatters
black