# FastApi
fastapi
pydantic
uvicorn
uvicorn-worker
uvicorn[standard]
gunicorn

# Security
python-jose[cryptography]
passlib[bcrypt]

# Database
sqlalchemy
sqlalchemy[asyncio]
asyncpg
psycopg2
alembic

# Other
python-dotenv

#Formatters
black